<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row ">
            <div class="col-8 offset-2">
                <h3>edit your wanderLust</h3>
                <form action="/listing/<%=listing._id%>?_method=PUT" method="post" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="mb-2">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control"
                            required>
                        <div class="valid-feedback">
                            Title is Good!
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="description" class="form-label">description</label>
                        <textarea type="text" name="listing[description]" class="form-control"
                            required><%=listing.description%>"</textarea>
                        <div class="valid-feedback">enter the valid desciption!</div>
                    </div>

                    <div>
                        Orignal Image <br/>
                        <img src="<%= orignalImgUrl  %>" alt="img"  style="height: 12rem;"/>
                    </div>
                    <br/>
                    <div class="mb-2">
                        <label for="image" class="form-label">Upload new Image</label>
                        <input type="file" name="listing[image]" class="form-control">

                    </div>
                    <div class="row">
                        <div class="mb-2 col-md-4">
                            <label for="price" class="form-label">price</label>
                            <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control"
                                required>
                            <div class="invalid-feedback">please enter the valid price!</div>
                        </div>
                        <div class="mb-2 col-md-8">
                            <label for="location" class="form-label">location</label>
                            <input type="text" name="listing[location]" value="<%=listing.location%>"
                                class="form-control" required>
                            <div class="valid-feedback">enter the valid location!</div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="country" class="form-label">country</label>
                        <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control"
                            required>
                        <div class="valid-feedback">enter the valid country Name!</div>
                    </div>
                    <button class="btn-edit">edit</button>
                </form>
            </div>
        </div>
    </body>